* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Setting the body to max-width: 1200px causes my page to show extra whitespace to
the right of the page. In developer tools, 1200px width fills screen, but not sure
what this means. */
body {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.header {
    min-height: 75vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
        url(../images/background.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    /* overflow: hidden; */
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

/* nav img{
    ;
} */

.navigation-links {
    flex: 1;
    text-align: right;
}

.navigation-links ul li {
    list-style: none;
    display: inline-block;
    /* padding: 8px 12px; */
    padding: 0.5em 1%;
    position: relative;
}

.navigation-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.825em;

}


.navigation-links ul li::after {
    /* add invisible line under each nav item */
    content: '';
    width: 0%;
    /* height: 2px; */
    height: 0.125em;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navigation-links ul li:hover::after {
    width: 100%;
}

.navigation-links #active:after {
    /* style the current active page with red bar under nav item */
    /* content:''; */
    width: 100%;
    /* height: 2px; */
    height: 0.125em;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}


.article-text {
    width: 90%;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.article-text h1 {
    font-size: 3.875em;
}

.article-text p {
    /* margin: 10px 0 40px; */
    margin: 0.625em 0 2.5em;
    font-size: 0.875em;
    color: white;
}



nav .fa-solid {
    /* hide the icons used in the media queries for the navigation menu */
    display: none;
}

/* Use Grid Layout for the Tips Main area */

.tips-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
}
  
.tips-grid-container section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    max-height: 50vh; /* set a maximum height for each section */
    overflow: hidden; /* hide any overflowing content */
}

.tips {
    /* background-color: silver; */
    /* background color for silver */
    background-color: rgba(192, 192, 192, 0.4);
}

.tips-grid-container section.tips-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#row1-img1 {
    background-image: url("../images/solo-tips-img1.avif");
}

#row2-img1 {
    background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
        url(../images/solo-tips-img2.avif);
}

#row2-img2 {
    background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
        url(../images/solo-tips-img3.avif);
}
  
#row3-img1 {

    background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
        url("../images/solo-tips-img4.avif");
    
}

  .tips-grid-container section ul {
    list-style-position: inside;
  }

  .tips-grid-container section ul li {
    /* padding: 3% 1%;
    list-style-type: circle; */
    padding: 3% 2%;
    list-style-type: circle;
    text-align: start;
    list-style-type: none;
  }

.fa-location-dot {
    color: black;
}

footer p {
      /* margin: 0 aut; */
      text-align: center;
      color: #777;
      font-size: 0.875em;
      font-weight: 300;
      line-height: 22px;
      /* padding: 10px; */
      padding: 0.625em 0.8333%;
  }


  @media screen and (max-width: 700px) {

    html,
    body {
        overflow-x: hidden;
    }

    .article-text h1 {
        font-size: 1.25em;

    }

    .navigation-links ul li {
        display: block;
    }

    .navigation-links {
        /* create a side navigation bar */
        position: absolute;
        background-color: red;
        height: 100vh;
        /* width: 200px; */
        width: 30%;
        top: 0;
        /* right: -200px; */
        right: -30%; /* hides side navigation menu */
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa-solid {
        /* style and position the icons */
        display: block;
        color: #fff;
        /* margin: 10px; */
        margin: 0.625em;
        font-size: 1.375em;
        cursor: pointer;

    }

    .navigation-links ul {
        /* padding: 30px; */
        padding: 1.875em 7%;
 
    }
  }